@page "/"
@using Microsoft.AspNetCore.Hosting

@inject IWebHostEnvironment env
@inject Services.Settings settings
@inject Services.ComponentsService componentsService

@if (isMenuClosed)
{
    <GameComponent iconsPathMatrix="@iconsPathMatrix"/>
}
else
{

    <div class="start-menu" style="@startMenuStyle">
        <div class="col-12 h-100 p-0">
            <div class="d-flex justify-content-center align-items-end h-55">
                <button @onclick="(() => CreateOrderOfIcons())" class="play-button">
                    <i class="fas fa-play font-size-play icon-style text-white"></i>
                </button>
            </div>
            <div class="d-flex justify-content-center align-items-center flex-column h-45">
                <button @onclick='(()=> { startMenuStyle = "width:0;";settingsAnimationStyle = "width:100%";  settingsMenuStyle = "visibility:visible;"; })' class="settings-button">
                    <div class="d-flex justify-content-end w-20">
                        <i class="fas fa-cog font-size-icon-sett con-style"></i>
                    </div>
                    <div class="font-size-settings font-cursive w-80 d-flex justify-content-center">
                        <span class="font-settings">
                            SETTINGS
                        </span>
                    </div>
                </button>
                <div class="mt-3 w-75 h-10">
                    <div class="text-center font-size-flags-info">Flags made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
                </div>
            </div>
        </div>
    </div>
    <div class="settings-menu" style="@settingsMenuStyle">
        <div class="settings-anim" style="@settingsAnimationStyle">
            <div class="d-flex w-100 justify-content-center text-white" style="border-radius: 2rem 2rem 0 0; height: 12%; background-color: #597454;">
                <div class="d-flex justify-content-center align-items-center font-size-settings text-center" style="width:85%;">
                    <span class="font-settings font-cursive" style="margin-left: calc(((100%*100)/75)*0.125);">
                        SETTINGS
                    </span>
                </div>
                <button @onclick='(()=> {CloseSettings();})' class="close-settings-button">
                    <i class="fas fa-times" style="font-size:1.5rem;"></i>
                </button>
            </div>
            <div class="d-flex justify-content-center align-items-center flex-column" style="height:88%;">
                <div class="d-flex justify-content-center align-items-center w-100" style="height:15%;">
                    <EditForm Model="settings.amount" style="width:20%;height:70%;">
                        <InputSelect @bind-Value="settings.amount" style="width: 100%; height: 100%; border-radius: 10px; outline: none; cursor: pointer; ">
                            <option value="2">2x2</option>
                            <option value="4">4x4</option>
                            <option value="6">6x6</option>
                            <option value="8">8x8</option>
                        </InputSelect>
                    </EditForm>
                </div>
                <div style="height:70%;" class="d-flex justify-content-center w-100">
                    <EditForm Model="settings.difficulty" class="w-80">
                        <div class="form-check w-100 p-0" style="height: 33%;">
                            <label class="radio w-100 m-0" for="radio1" style="height:90%;">
                                <input type="radio" class="radio__input" id="radio1" name="exampleRadios" value="0" @onchange="OnChangeInputRadio" checked="@("0".Equals(settings.difficulty.ToString()))"/>
                                <div class="radio_radio w-100 h-100 d-flex align-items-center bcg-green">
                                    <div class="d-flex w-100 flex-column" style="height:90%;">
                                        <div class="d-flex w-100" style="height:80%">
                                            <div class="d-flex justify-content-center align-items-center w-20">
                                                <i class="fas fa-smile icon-size-diff"></i>
                                            </div>
                                            <div class="w-60 d-flex justify-content-center align-items-center font-cursive">
                                                <span class="font-size-diff">
                                                    EASY
                                                </span>
                                            </div>
                                            <div class="d-flex justify-content-center align-items-center w-20">
                                                <i class="fas fa-smile  icon-size-diff"></i>
                                            </div>
                                        </div>
                                        <div class="d-flex w-100" style="height:20%">
                                            <div class="w-20">

                                            </div>
                                            <div style="font-size:0.75rem;" class="d-flex justify-content-center align-items-center w-60 font-cursive">
                                                <span>
                                                    No pressure, just play :)
                                                </span>
                                            </div>
                                            <div class="w-20">

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </label>
                        </div>
                        <div class="form-check w-100 p-0" style="height:33%;">
                            <label class="radio w-100 m-0" for="radio2" style="height:90%;">
                                <input type="radio" class="radio__input" id="radio2" name="exampleRadios" value="1"  @onchange="OnChangeInputRadio" checked="@("1".Equals(settings.difficulty.ToString()))"/>
                                <div class="radio_radio w-100 h-100 d-flex align-items-center bcg-orange">
                                    <div class="d-flex w-100 flex-column" style="height:90%;">
                                        <div class="d-flex w-100" style="height:80%">
                                            <div style="width:20%;" class="d-flex justify-content-center align-items-center">
                                                <i class="fas fa-stopwatch icon-size-diff" style="transform-origin: 50% 59%;"></i>
                                            </div>
                                            <div class="d-flex justify-content-center align-items-center w-60 font-cursive">
                                                <span class="font-size-diff">
                                                    NORMAL
                                                </span>
                                            </div>
                                            <div class="d-flex justify-content-center align-items-center w-20">
                                                <i class="fas fa-stopwatch icon-size-diff" style="transform-origin: 50% 59%;"></i>
                                            </div>
                                        </div>
                                        <div class="d-flex w-100" style="height:20%">
                                            <div class="w-20">

                                            </div>
                                            <div style="font-size:0.75rem;" class="d-flex justify-content-center align-items-center font-cursive w-60">
                                                <span>
                                                    Time Limit
                                                </span>
                                            </div>
                                            <div class="w-20">

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </label>
                        </div>
                        <div class="form-check w-100 p-0" style="height: 33%;">
                            <label class="radio w-100 m-0" for="radio3" style="height:90%;">
                                <input type="radio" class="radio__input" id="radio3" name="exampleRadios" value="2"  @onchange="OnChangeInputRadio" checked="@("2".Equals(settings.difficulty.ToString()))"/>
                                <div class="radio_radio w-100 h-100 d-flex align-items-center bcg-red">
                                    <div class="d-flex w-100 flex-column" style="height:90%;">
                                        <div class="d-flex w-100" style="height:80%">
                                            <div class="d-flex justify-content-center align-items-center w-20">
                                                <i class="fas fa-bomb icon-size-diff" style="transform-origin: 39.5% 58.3%;"></i>
                                            </div>
                                            <div class="d-flex justify-content-center align-items-center font-cursive w-60">
                                                <span class="font-size-diff">
                                                    HARD
                                                </span>
                                            </div>
                                            <div class="d-flex justify-content-center align-items-center w-20">
                                                <i class="fas fa-bomb icon-size-diff" style="transform-origin: 39.5% 58.3%;"></i>
                                            </div>
                                        </div>
                                        <div class="d-flex w-100" style="height:20%">
                                            <div style="width:20%;">

                                            </div>
                                            <div style="font-size:0.75rem;" class="d-flex justify-content-center align-items-center font-cursive w-60">
                                                <span>
                                                    No mistakes!
                                                </span>
                                            </div>
                                            <div sclass="w-20">

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </label>
                        </div>
                    </EditForm>
                </div>
            </div>
        </div>
    </div>
}

@code {
    private string startMenuStyle { get; set; }
    private string settingsMenuStyle { get; set; }
    private string settingsAnimationStyle { get; set; }
    private bool isMenuClosed { get; set; }
    private string[,] iconsPathMatrix { get; set; }

    protected override void OnInitialized()
    {
        componentsService.homePage = this;

        //default game settings
        settings.amount = 6;            //6x6
        settings.difficulty = 1;        //Normal
    }

    private void OnChangeInputRadio(ChangeEventArgs args)
    {
        settings.difficulty = Convert.ToInt32(args.Value.ToString());
    }

    private async Task CloseSettings()
    {
        //Menu on top
        startMenuStyle = "z-index:4;";
        //Remove width:100%
        settingsAnimationStyle = "";
        //Required to play animation
        await Task.Delay(900);
        //Hide settings
        settingsMenuStyle = "visibility:hidden;";
    }

    private void CreateOrderOfIcons()
    {
        iconsPathMatrix = new string[settings.amount, settings.amount];
        var random = new Random();

        //Explanation: 
        //If game is created with the size 4x4. That means there is 16 squares. In this 16 squares, we got 8 pairs. File (svg) names are from 0 to 31 (because max size of board is 8x8 => 64 => 32).
        //Back to our example 4x4. We take Enumebable with indexes from 0 to 8 concat that with the same numbers, so we got 8 pairs and then just place them in the random order.
        var randomOrderOfNumbers = Enumerable.Range(0, 32).Select(x => x).OrderBy(x => random.Next()).Take(settings.amount*settings.amount/2).ToList();
        randomOrderOfNumbers = randomOrderOfNumbers.Concat(randomOrderOfNumbers).OrderBy(x => random.Next()).ToList();

        //index to go through the list.
        int index = 0;

        //fill the matrix with icons paths.
        for (int i = 0; i < settings.amount; i++)
        {
            for (int j = 0; j < settings.amount; j++)
            {
                iconsPathMatrix[i, j] ="\\icons\\"+ randomOrderOfNumbers[index]+".svg";
                index++;
            }
        }

        //After generate matrix show the game component.
        isMenuClosed = true;
    }

    public async Task OpenMenu()
    {
        startMenuStyle = "width:5%;";
        isMenuClosed = false;
        await Task.Delay(100);
        StateHasChanged();
        startMenuStyle = "";
        StateHasChanged();
    }
}
