@using System.Globalization
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage

@inject IJSRuntime JsRuntime;
@inject ProtectedLocalStorage BrowserStorage
@inject Services.Settings settings
@inject Services.ComponentsService componentsService

<div class="game" style="@gameUpAnimation">
    <div style="width: 100vw; background-color: #ffffff54;" class="d-flex justify-content-center">
        <div class="top-menu-game d-flex flex-row">
            <div class="h-100 d-flex justify-content-center align-items-center w-50">
                @if (bestTime is not null)
                {
                    <span style="color: #356d39;" class="font-cursive font-best-time">
                        Best Time: @bestTime
                    </span>
                }
                else
                {
                <span style="font-size: 1.7rem; color: #356d39;" class="font-cursive">
                    Best Time: N/A
                </span>               
                }
            </div>
            <div class="h-100 d-flex flex-column" style="width:10%">
                <div class="w-100" style="height: 33%; display: flex; justify-content: center; align-items: center;">
                    <span class="font-cursive font-mode-size">
                        MODE
                    </span>
                </div>
                <div class="w-100" style="height: 66%; display: flex; justify-content: center; align-items: center;">
                    @switch (settings.difficulty)
                    {
                        case 0:
                            <i class="fas fa-smile icon-mode-size" style=" color: #64c367;"></i>
                            break;
                        case 1:
                            <i class="fas fa-stopwatch icon-mode-size" style="color: #fab855;"></i>
                            break;

                        case 2:
                            <i class="fas fa-bomb icon-mode-size" style=" color:#f46666;"></i>
                            break;
                        default:
                            break;
                    }
                </div>
            </div>
            <div class="h-100 d-flex justify-content-center align-items-center w-20">
                <button class="button-reset" style="border-right: 1px solid #9bcfa0;" @onclick="ResetGame">
                    <i class="fas fa-redo-alt rotate-reset" style=" font-size: 2.5rem; color: #356d39;"></i>
                </button>
            </div>
            <div class="h-100 d-flex justify-content-center align-items-center w-20">
                <button class="button-reset" @onclick='(() => { switchToSettings(); })'>
                    <i class="fas fa-cog font-size-icon-sett rotate-settings" style=" font-size: 2.5rem; color: #356d39;"></i>
                </button>
            </div>
        </div>
    </div>
    <div class="d-flex flex-column h-100 w-100 justify-content-center">
        <div class="timer d-flex justify-content-center align-items-center">
            @if (isGameOver)
            {
                <span style="font-size: 3rem;color:red;" class="font-cursive">
                    Game Over!!!
                </span>
            }
            else
            {
                <div>
                    <span style="font-size: 3rem;" class="font-cursive">
                        @ConvertTime(timeSEC)
                    </span>
                        @if (settings.difficulty!=0)
                        {
                            <span>
                                (@ConvertTime(difficultyTime- timeSEC))
                            </span>
                        }
                </div>
                
            }
        </div>
        @{ var protectFromTooEarlyClick = (flippedCardsMatrix is null) ? "pointer-events: none;" : ""; }
        <div class="d-flex w-100 flex-column" style="transition: transform 250ms ease; aspect-ratio: 1/1; @gameOverStyle @gameResetAnimation @protectFromTooEarlyClick">
            @for (int i = 0; i < settings.amount; i++)
            {
                var percentage = ((decimal)100 / settings.amount).ToString(CultureInfo.InvariantCulture);
                <div class="d-flex w-100 position-relative" style="height:@percentage%">
                    @for (int j = 0; j < settings.amount; j++)
                    {
                        var iLocal = i;
                        var jLocal = j;
                        var index = i.ToString() + j.ToString();
                        var idFront = "front" + index;
                        var idBack = "back" + index;
                        <div class="d-flex h-100 justify-content-center align-items-center t" style="width:@percentage%; perspective:2500px">
                            <div id="@idFront" class="front" style="width: 93%;" @onclick='(() => FlipCard(index,iLocal,jLocal))'>
                            </div>
                            <div id="@idBack" class="back d-flex justify-content-center align-items-center" style="width: 93%;">
                                @{var path = iconsPathMatrix[i, j]; }
                                <img src="@path" style="max-height: 80%; max-width: 80%; " />
                            </div>
                        </div>
                    }
                </div>
            }
        </div>
    </div>
</div>


@code {
    [Parameter]
    public string[,] iconsPathMatrix { get; set; }

    private bool isGameOver { get; set; }
    private bool isFlipCardRunning { get; set; }

    private bool[,] flippedCardsMatrix { get; set; }
    private int[,] flippeCardPairIndex { get; set; }

    public double timeSECH { get { return Math.Round(this.timeSEC, 2); } set { this.timeSEC = value; } }
    private double timeSEC;
    private double difficultyTime { get; set; }

    private string bestTime { get; set; }
    private string gameOverStyle { get; set; }
    private string gameUpAnimation { get; set; }
    private string gameResetAnimation { get; set; }

    private System.Timers.Timer timer { get; set; }

    protected async override Task OnInitializedAsync()
    {
        gameUpAnimation = "margin-top:-200vh;";
        componentsService.gameComponent = this;
        var score = await BrowserStorage.GetAsync<string>("Score_" + settings.amount + "_" + settings.difficulty);
        if (score.Success)
        {
            bestTime = score.Value;
        }


        gameUpAnimation = "";
        StateHasChanged();
        await Task.Delay(800);
        timer = new System.Timers.Timer(10);
        switch (settings.difficulty)
        {
            case 0:
                timer.Elapsed += TimeUPEvent;
                timer.Enabled = true;
                break;
            case 1:
                switch (settings.amount)
                {
                    case 2:
                        timeSECH = 10;
                        difficultyTime = 10;
                        break;
                    case 4:
                        timeSECH = 40;
                        difficultyTime = 40;
                        break;
                    case 6:
                        timeSECH = 90;
                        difficultyTime = 90;
                        break;
                    case 8:
                        timeSECH = 160;
                        difficultyTime = 160;
                        break;
                    default:
                        break;
                }
                timer.Elapsed += TimeDOWNEvent;
                timer.Enabled = true;
                break;
            case 2:
                switch (settings.amount)
                {
                    case 2:
                        timeSECH = 10;
                        difficultyTime = 10;
                        break;
                    case 4:
                        timeSECH = 80;
                        difficultyTime = 80;
                        break;
                    case 6:
                        timeSECH = 180;
                        difficultyTime = 180;
                        break;
                    case 8:
                        timeSECH = 320;
                        difficultyTime = 320;
                        break;
                    default:
                        break;
                }
                timer.Elapsed += TimeDOWNEvent;
                timer.Enabled = true;
                break;
            default:
                break;
        }

        flippeCardPairIndex = new int[2, 2];
        flippeCardPairIndex[0, 0] = -1;
        flippeCardPairIndex[0, 1] = -1;
        flippeCardPairIndex[1, 0] = -1;
        flippeCardPairIndex[1, 1] = -1;
        flippedCardsMatrix = new bool[settings.amount, settings.amount];
    }

    private string ConvertTime(double seconds)
    {
        return string.Format(@"{0:mm\:ss\.f}", TimeSpan.FromSeconds(seconds));
    }

    private void TimeUPEvent(Object source, System.Timers.ElapsedEventArgs e)
    {
        timeSECH += 0.01;
        InvokeAsync(StateHasChanged);

    }

    private void TimeDOWNEvent(Object source, System.Timers.ElapsedEventArgs e)
    {
        timeSECH -= 0.01;
        @if (timeSECH <= 0)
        {
            timer.Stop();
            isGameOver = true;
            gameOverStyle = "pointer-events: none;";
        }
        InvokeAsync(StateHasChanged);
    }

    private async Task ResetGame()
    {
        timer.Stop();
        isGameOver = false;
        gameOverStyle = "pointer-events: none;";
        StateHasChanged();

        bool hastrue = false;
        for (int i = 0; i < flippedCardsMatrix.GetLength(0); i++)
        {
            for (int j = 0; j < flippedCardsMatrix.GetLength(1); j++)
            {
                if (flippedCardsMatrix[i, j])
                {
                    hastrue = true;
                    break;
                }
            }
        }
        if (hastrue)
        {
            for (int i = 0; i < flippedCardsMatrix.GetLength(0); i++)
            {
                for (int j = 0; j < flippedCardsMatrix.GetLength(1); j++)
                {
                    if (flippedCardsMatrix[i, j])
                    {
                        await JsRuntime.InvokeAsync<string>("flipback", i.ToString() + j.ToString());
                    }
                }
            }
            await Task.Delay(500);
        }
        gameResetAnimation = "transform: scale(0);";
        StateHasChanged();
        await Task.Delay(250);
        iconsPathMatrix = new string[settings.amount, settings.amount];
        var random = new Random();
        var randomOrderOfNumbers = Enumerable.Range(0, settings.amount * settings.amount / 2).Select(x => x).Concat(Enumerable.Range(0, settings.amount * settings.amount / 2).Select(x => x)).OrderBy(x => random.Next()).Take(settings.amount * settings.amount).ToList();
        int index = 0;

        for (int i = 0; i < settings.amount; i++)
        {
            for (int j = 0; j < settings.amount; j++)
            {
                iconsPathMatrix[i, j] = "\\icons\\" + randomOrderOfNumbers[index] + ".svg";
                index++;
            }
        }
        gameResetAnimation = "";
        await Task.Delay(250);
        timer = new System.Timers.Timer(10);

        switch (settings.difficulty)
        {
            case 0:
                timeSECH = 0;
                timer.Elapsed += TimeUPEvent;
                timer.Enabled = true;
                break;
            case 1:
                switch (settings.amount)
                {
                    case 2:
                        timeSECH = 10;
                        difficultyTime = 10;
                        break;
                    case 4:
                        timeSECH = 40;
                        difficultyTime = 40;
                        break;
                    case 6:
                        timeSECH = 90;
                        difficultyTime = 90;
                        break;
                    case 8:
                        timeSECH = 160;
                        difficultyTime = 160;
                        break;
                    default:
                        break;
                }
                timer.Elapsed += TimeDOWNEvent;
                timer.Enabled = true;
                break;
            case 2:
                switch (settings.amount)
                {
                    case 2:
                        timeSECH = 10;
                        difficultyTime = 10;
                        break;
                    case 4:
                        timeSECH = 80;
                        difficultyTime = 80;
                        break;
                    case 6:
                        timeSECH = 180;
                        difficultyTime = 180;
                        break;
                    case 8:
                        timeSECH = 320;
                        difficultyTime = 320;
                        break;
                    default:
                        break;
                }
                timer.Elapsed += TimeDOWNEvent;
                timer.Enabled = true;
                break;
            default:
                break;
        }

        flippeCardPairIndex = new int[2, 2];
        flippeCardPairIndex[0, 0] = -1;
        flippeCardPairIndex[0, 1] = -1;
        flippeCardPairIndex[1, 0] = -1;
        flippeCardPairIndex[1, 1] = -1;
        flippedCardsMatrix = new bool[settings.amount, settings.amount];
        gameOverStyle = "";
        timer.Start();
        StateHasChanged();
    }

    private async Task FlipCard(string index, int i, int j)
    {
        if (!isFlipCardRunning)
        {
            isFlipCardRunning = true;

            if (!flippedCardsMatrix[i, j])
            {
                if (flippeCardPairIndex[0, 0] == -1)            //if there is no
                {
                    await JsRuntime.InvokeAsync<string>("flip", index);
                    flippedCardsMatrix[i, j] = true;
                    flippeCardPairIndex[0, 0] = i;
                    flippeCardPairIndex[0, 1] = j;
                }
                else                                          //if one card is flipped
                {
                    await JsRuntime.InvokeAsync<string>("flip", index);
                    await Task.Delay(500);
                    flippedCardsMatrix[i, j] = true;
                    flippeCardPairIndex[1, 0] = i;
                    flippeCardPairIndex[1, 1] = j;

                    //if cards are different
                    if (iconsPathMatrix[flippeCardPairIndex[0, 0], flippeCardPairIndex[0, 1]] != iconsPathMatrix[i, j])
                    {

                        //if difficulty is hard (then flipback all cards)
                        if (settings.difficulty == 2)
                        {
                            for (int k = 0; k < flippedCardsMatrix.GetLength(0); k++)
                            {
                                for (int l = 0; l < flippedCardsMatrix.GetLength(1); l++)
                                {
                                    if (flippedCardsMatrix[k, l])
                                    {
                                        flippedCardsMatrix[k, l] = false;
                                        await JsRuntime.InvokeAsync<string>("flipback", k.ToString() + l.ToString());
                                    }
                                }
                            }
                            await Task.Delay(500);
                        }
                        //else flipback only last pair
                        else
                        {
                            await JsRuntime.InvokeAsync<string>("flipback", flippeCardPairIndex[0, 0].ToString() + flippeCardPairIndex[0, 1].ToString());
                            await JsRuntime.InvokeAsync<string>("flipback", flippeCardPairIndex[1, 0].ToString() + flippeCardPairIndex[1, 1].ToString());
                            flippedCardsMatrix[i, j] = false;
                            flippedCardsMatrix[flippeCardPairIndex[0, 0], flippeCardPairIndex[0, 1]] = false;
                        }
                    }
                    //if two cards matches
                    else
                    {
                        if (IsGameCompleted())
                        {
                            timer.Stop();
                            var bestOldScore = await BrowserStorage.GetAsync<string>("Score_" + settings.amount + "_" + settings.difficulty);
                            if (bestOldScore.Success)
                            {
                                //to convert to TimeSpan i need to add '0:' to string
                                TimeSpan ts = TimeSpan.Parse("0:" + bestOldScore.Value);
                                switch (settings.difficulty)
                                {
                                    case 0:
                                        int resultEasy = TimeSpan.Compare(ts, TimeSpan.Parse("0:" + ConvertTime(timeSECH)));
                                        if (resultEasy == 1)
                                        {
                                            await BrowserStorage.SetAsync("Score_" + settings.amount + "_" + settings.difficulty, ConvertTime(timeSECH));
                                            bestTime = ConvertTime(timeSECH);
                                        }
                                        break;
                                    case 1:
                                        int resultNormal = TimeSpan.Compare(ts, TimeSpan.Parse("0:" + ConvertTime(difficultyTime - timeSECH)));
                                        if (resultNormal == 1)
                                        {
                                            await BrowserStorage.SetAsync("Score_" + settings.amount + "_" + settings.difficulty, ConvertTime(difficultyTime - timeSECH));
                                            bestTime = ConvertTime(difficultyTime - timeSECH);
                                        }
                                        break;
                                    case 2:
                                        int resultHard = TimeSpan.Compare(ts, TimeSpan.Parse("0:" + ConvertTime(difficultyTime - timeSECH)));
                                        if (resultHard == 1)
                                        {
                                            await BrowserStorage.SetAsync("Score_" + settings.amount + "_" + settings.difficulty, ConvertTime(difficultyTime - timeSECH));
                                            bestTime = ConvertTime(difficultyTime - timeSECH);
                                        }
                                        break;
                                    default:
                                        break;
                                }

                            }
                            else
                            {
                                switch (settings.difficulty)
                                {
                                    case 0:
                                        await BrowserStorage.SetAsync("Score_" + settings.amount + "_" + settings.difficulty, ConvertTime(timeSECH));
                                        bestTime = ConvertTime(timeSECH);
                                        break;
                                    case 1:
                                        await BrowserStorage.SetAsync("Score_" + settings.amount + "_" + settings.difficulty, ConvertTime(difficultyTime - timeSECH));
                                        bestTime = ConvertTime(difficultyTime - timeSECH);
                                        break;
                                    case 2:
                                        await BrowserStorage.SetAsync("Score_" + settings.amount + "_" + settings.difficulty, ConvertTime(difficultyTime - timeSECH));
                                        bestTime = ConvertTime(difficultyTime - timeSECH);
                                        break;
                                    default:
                                        break;
                                }

                            }
                            StateHasChanged();
                        }
                    }

                    flippeCardPairIndex[0, 0] = -1;
                    flippeCardPairIndex[0, 1] = -1;
                    flippeCardPairIndex[1, 0] = -1;
                    flippeCardPairIndex[1, 1] = -1;
                }
            }

            isFlipCardRunning = false;
        }
    }

    private async Task switchToSettings()
    {

        gameUpAnimation = "margin-top:-200vh;";
        await Task.Delay(500);
        await componentsService.homePage.OpenMenu();
    }

    private bool IsGameCompleted()
    {
        for (int i = 0; i < flippedCardsMatrix.GetLength(0); i++)
        {
            for (int j = 0; j < flippedCardsMatrix.GetLength(1); j++)
            {
                if (!flippedCardsMatrix[i, j])
                {
                    return false;
                }
            }
        }
        return true;
    }
}
